/* --- Atributos globais --- */

html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    background: #F8F8F8;
    font-size: 12px;
}

a:link, a:visited {
    color: #77BACE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* --- Utilitários --- */

.campo-obrigatorio {
	color: #f00;
	font-weight: bold;
}

.clear {
    clear: both;
}

/* --- Sidebar --- */

#logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#sidebar {
    width: 300px;
    background: #e7e7ea url(../img/sombra-sidebar.png) repeat-y 295px 0;
    float: left;
    height: 100%;
    position: relative;
    z-index: 3;
}

/* --- Sidebar Menu --- */

#menu {
    margin: 130px 0 0 20px;
}

#sidebar h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 10px 0 10px 6%;
    display: block;
    float: left;
    width: 90%;
}

#sidebar ul {
    clear: both;
    margin: 0; padding: 0;
}

#sidebar li {
    list-style: none;
    margin: 0 0 0 12%; padding: 0;
}

#sidebar li a {
    color: #666666;
    padding-left: 25px;
    text-decoration: none;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    text-shadow: 0 1px 0 #fff;
    margin: 2px 0;
}

#sidebar li a:hover {
    color: #444444;
}

#sidebar li.icone-consultar a {
    background: url(../img/icone-consultar.png) no-repeat center left;
}

#sidebar li.icone-listar a {
    background: url(../img/icone-listar.png) no-repeat center left;
}

#sidebar li.icone-incluir a {
    background: url(../img/icone-incluir.png) no-repeat center left;
}

#sidebar p {
    color: #666666;
    padding-left: 6%;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 0 0 0;
}

#sidebar a {
    color: #666666;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

#sidebar footer {
    margin-top: 20%;
}

/* --- Conteúdo Principal --- */


#container {
    padding: 20px 0 0 300px;
    height: 95%;
}

#container h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;
}

/* --- Diagramação --- */

.conteudo {
    width: 95%;
    margin: 0 3% 0 3%;
    border: 1px solid #9BA0AF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    float: left;
}

#container .conteudo header h3 {
    display: block;
    width: 90%;
    float: left;
}

.conteudo header {
    height: 38px;
    width: 100%;
    background: #F1F1F4 url(../img/header-conteudo.png) repeat-x;
    -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.conteudo footer {
    height: 32px;
    width: 100%;
    border-top: 1px solid #9CA1B0;
    background: #F1F1F4 url(../img/footer-conteudo.png) repeat-x;
    -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.form-conteudo {
    margin: 10px 20px;
    color: #666;
}

/* --- Tabela --- */

.tabela-listagem {
width: 100%;
margin: -5px 0 0 0;
}

.tabela-listagem td{
margin: 0;
padding: 0;
border-bottom: 1px dotted #ccc;
}

.tabela-listagem thead tr {
height: 34px;
background: url(../img/tabela-header.png) repeat-x;
text-align: left;
text-indent: 10px;
cursor: pointer;
}

.tabela-listagem td {
padding: 15px 10px;
}

.tabela-listagem input[type=image] {
margin-right: 10px;}0

/* --- Formulário --- */

input[type=submit] {
    background: #D0D1D4;
    border: 1px solid #A8A9A8;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    font-weight: bold;
    height: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #333333;
}

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1%;
margin: 1.5% 0;
}

fieldset label {
display: block;
float: left;
width: 200px;
height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

#lista-checkbox {
	width: 96%;
	margin: 0 10px;
	height: 20px;
	float: left;
}

fieldset input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding: 0 5px;
	margin: 0 5px;
	background-position: 10px 6px;
	display: block;
	float: left;
	width: 96%;
}

fieldset input[type=text]:focus {
    outline: none;
    border: 1px solid #77BACE;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
    width: 96%;
    margin: 0 10px;
    border: 1px solid #bbb;
    height: 20px;
    color: #666666;
}

fieldset textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    color: #666666;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0 0.5%;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

fieldset textarea:focus {
    outline: none;
    border: 1px solid #77BACE;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
    box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.submit-link {
    float: right;
    margin-right: 3%;
    padding: 5px 0;
}

#container .form-conteudo h1 {
    color: #333333;
    text-transform: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 22px;
    margin: 8px 0px;
}

#container .form-conteudo h2 {
    color: #444444;
    text-transform: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 18px;
    margin: 8px 0px;
}

#container .form-conteudo h3 {
    color: #666666;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 8px 0px;
}

#container .form-conteudo h4 {
    color: #666666;
    text-transform: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 8px 0px;
}

#container .form-conteudo li {
    line-height: 150%;
}

/* --- Alertas --- */

.alerta-erro {
	display: none;
	width: 95%;
	margin: 0 3% 20px 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 url(../img/icone-alerta-erro.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #D20009;
	color: #7B040F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

.alerta-sucesso {
	display: none;
	width: 95%;
	margin: 0 3% 20px 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #E2F6C5 url(../img/icone-alerta-sucesso.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #79C20D;
	color: #32510F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}
